.main-home{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    height: 140vh;
    padding-left: 0%;
   padding-top: 8%;
   padding-right: 0%;
}

.sidebar
{
    height: 140vh;
    width: 20%;
    background: #000;
    transition: 0.5s ease;
    transform: translate;
    padding-top: 0;
    background-size: cover;
}

.sidebar .categories
{
    color: #f9f6f6;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    background: linear-gradient(30deg,#df0155,#ed4901);
}

ol
{
    width: 100%;
    list-style: none;
}

ol li{
    display: block;
    width: 100%;
}

ol li a{
    color: #fbfdce;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    text-transform: capitalize;
}

ol li a:hover {
    background: #373030;
    color: #00eaff;
    letter-spacing: 5px;
}

.right
{
    width: 80%;
    height: 140vh;
    display: grid;
    background-color: aliceblue;
	grid-template-columns: repeat(auto-fit, minmax(260px,auto));
	gap: 2rem;
}

.row
{
    position: relative;
    transition: all .40s;
    padding: 20px;
}

.row img{
    width: 300px;
    height: 350px;
    transition: all .40s;
}

.row:hover
{
    transform: scale(1.03);
}

.price h4
{
     color: #111;
     font-size: 16px;
     text-transform: capitalize;
     font-weight: 400;
}

.price p
{
    color: #151515;
    font-size: 14px;
    font-weight: 600;
}

