*{
	margin: 0;
	padding: 0;
	outline: 0;
}

.main-home
{
	height:200vh;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: .7;
	background: #FFC0CB;
	padding-top: 20%;
	padding-bottom: 10%;

}

table
{
	margin-top: 100px;
	margin-bottom: 50px;
	position:absolute;
	z-index: 2;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 60%;
	border-collapse: collapse;
	border-spacing: 0;
	border-radius:12px 12px 0 0 ;
	overflow: hidden;
	box-shadow:0 5px 12px rgba(32,32,32,.3) ;
	background: #fafafa;
	text-align: center;
	height:auto;


}


th ,td{
	padding:12px 15px ;

}

th{
	background: #fc4596;
	color: #fafafa;
	text-transform: uppercase;
	font-family: sans-serif;
}

td{
	font-family: serif;
}

tr:nth-child(odd){
	background-color: #eeeeee;
}

.but{
	text-align: center;
	padding-right:10%;
	padding-top: 20%;
	position:absolute;
	
}

.main-button
{
	display: inline-block;
	color: #111;
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
	border: 2px solid #111;
	padding: 12px 25px;
	transition: all .42s ease ;
	border-radius: 10%;
    margin-bottom: 5%;
}


.btn_table
{
	padding: 4px;
	border-radius: 30px;
	transition: background 0.5s;
	color: black;

}

.btn_table:hover
{
	background:#fc4596;
  	color: white;
}

