<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tiny Treasures</title>
	<link rel="stylesheet"  th:href="@{/css/Catagories.css}"/>
	<link rel="stylesheet"  th:href="@{/css/common.css}"/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
	<header class="stickey">
		<a th:href ="@{/#}" class="logo"><img src="image/logo.png" alt="" ></a>

		<ul class="navmenu">
			<li><a th:href="@{/home}">Tiny Treasures</a></li>
			<li><a th:href="@{/admin}">Home</a></li>
			<li><a th:href="@{/#}">Logout</a></li>
			
		</ul>
		
	</header>
	<section class="main-home">
		<div>
			<table>
				<tr>
					<th class="colum">ID</th>
					<th class="colum">Category Name</th>
					<th class="colum">Delete</th>
					<th class="colum">Update</th>
				</tr>

				<tr th:each="category, iStat : ${categories}">
		            <td scope="row" th:text="${iStat.index + 1}">1</td>
		            <td th:text="${category.name}"></td>
		
		            <td><a href="" th:href="@{/admin/categories/delete/{id}(id=${category.id})}" class="btnd">Delete</a></td>
		            <td><a href="" th:href="@{/admin/categories/update/{id}(id=${category.id})}" class="btnw">Update</a></td>
		        </tr>
			</table>
		</div>

		<div class="but">
            <a th:href="@{/admin/categories/add}" class="main-btn">Add Category</a>
        </div>
	</section>

    
	<script src="java.js"></script>
	 
</body>
</html>