<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tiny Treasures</title>
	<link rel="stylesheet"  th:href="@{/css/style.css}"/>
	<link rel="stylesheet"  th:href="@{/css/common.css}"/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
	<header class="stickey">
		<a th:href ="@{/#}" class="logo"><img src="image/logo.png" alt="" ></a>

		<ul class="navmenu">
			<li><a th:href="@{/home}">Home</a></li>
			<li><a th:href="@{/about}">About Us</a></li>
			<li><a th:href="@{/shop}">Products</a></li>
			<li><a th:href="@{/contact}">Contact</a></li>
			<li><a th:href="@{/admin}">Admin</a></li>
			<li><a th:href="@{/logout}">Logout</a></li>
		</ul>

		<div class="navicon">
			<a th:href="@{/#}"><i class='bx bx-search-alt-2'></i></a>
			<a th:href="@{/login}"><i class='bx bxs-user'></i></a>
			<a th:href="@{/cart}"><i class='bx bxs-cart'>(<span th:text="${cartCount}"></span>)</i></a>
			<div class="bx bx-menu" id="menu-icon"></div>
		</div>
		
	</header>

	<section class="main-home">
		<div class="main-text">
			<h1>New Babies <br> Collections 2023</h1>
			<p>Collect Your Babies Trends</p>
			<a th:href="@{/#}" class="main-btn">Shop Now <i class='bx bx-right-arrow-alt'></i></a>
		</div>

		
	</section>

	
	<section class="contact">
		<div class="contact-info">
			<div class="first-info">
				<img src="images/logo.png" alt="">
				<p>No 35 Lotus Street,<br>Sri Lanka</p>
				<p>00944535321</p>
				<p>tinytreasures@gmail.com</p>

				<div class="social-icon">
					<a th:href="@{/#}"><i class='bx bxl-facebook'></i></a>
					<a th:href="@{/#}"><i class='bx bxl-twitter'></i></a>
					<a th:href="@{/#}"><i class='bx bxl-instagram'></i></a>
					<a th:href="@{/#}"><i class='bx bxl-youtube' ></i></a>
					<a th:href="@{/#}"><i class='bx bxl-linkedin' ></i></a>
					
				</div>
			</div>
			<div class="second-info">
				<h4>Support</h4>
				<p>Contact us</p>
				<p>About page</p>
				<p>Size Guide</p>
				<p>Shopping & Returns</p>
				<p>Privacy</p>
			</div>
			<div class="third-info">
				<h4>Shop</h4>
				<p>Baby Girl's Shopping</p>
				<p>Baby Boy's Shopping</p>
				<p>Baby's Toys</p>
				<p>Baby Caring Products </p>
				<p>Discount</p>
			</div>

			<div class="forth info">
				<h4>Company</h4>
				<p>About</p>
				<p>BLog</p>
				<p>Affiliate</p>
				<p>Login</p>
			</div>

			<div class="five">
				<h4>Subscribe</h4>
				<p>Receive Updates, Hot Deals, Discount Sent Straight In Your Inbox Daily</p>
				<p></p>
			</div>
		</div>
	</section>

	<div class="end-text">
		<p>copyright <i class='bx bx-copyright' ></i> @2023.All Rights Reserved.</p>
	</div>
	<script src="java.js"></script>
	 
</body>
</html>